<div class="row">
  {{#each tandas}}
    <div class="col-md-3">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title" d-flex justify-content-between align-items-center>
          {{nombre}}<a href="/tandas/edit/{{_id}}"><i class = "fas fa-edit"></i></a>
          </h4>
          <p>Monto: {{monto}}</p>
          <p>Fecha: {{fecha}}</p>
          <p>Numeros: {{numeros}}</p>
          <p>Duración en semanas: {{periodoSemanas}}</p>
          <form class="" action="/tandas/delete/{{_id}}?_method=DELETE" method="POST">
            <input type="hidden" name="_method" value="DELETE">
              <button class="btn btn-danger btn-block btn-sm" type="submit">Delete</button>
          </form>
        </div>
      </div>
    </div>
    {{else}}
    <div class="card mx-auto">
      <div class="card-body">
        <p class="lead">No hay tandas aún</p>
        <a href="/tandas/add" class="btn btn-success btn-block">Crea una!</a>
      </div>
    </div>
  {{/each}}
</div>
