<div class="col-md-4 mx-auto">
  <div class="card">
    <div class="card-header">
      <h3>Editar Tanda</h3>
    </div>
    <div class="card-body">
      <form class="" action="/tandas/edit-tanda/{{tanda._id}}?_method=PUT" method="POST">
        <input type="hidden" name="_method" value="PUT">
        <div class="form-group">
          <input type="text" class="form-control" name="nombre" placeholder="Nombre" value="{{tanda.nombre}}">
        </div>
        <div class="form-group">
          <input type="number" class="form-control" name="monto" placeholder="Monto" value="{{tanda.monto}}">
        </div>
        <div class="form-group">
          <input type="number" class="form-control" name="periodoSemanas" placeholder="Duración en semanas" value="{{tanda.periodoSemanas}}">
        </div>
        <div class="form-group">
          <input type="number" class="form-control" name="numeros" placeholder="Números" value="{{tanda.numeros}}">
        </div>
        <div class="form-group">
          <input type="date" class="form-control" name="fecha" placeholder="Fecha" value="{{tanda.fecha}}">
        </div>
        <div class="form-group">
          <button class="btn btn-primary btn-block" type="submit" name="button">Guardar</button>
        </div>
      </form>
    </div>
  </div>
</div>
