<div class="col-md-4 mx-auto">
  <div class="card">
    <div class="card-header">
        <h3>New tanda</h3>
    </div>
    <div class="card-body">
      <form action="/tandas/new-tanda" method="POST">
        <div class="form-group">
          <input type="text" name="nombre" class="form-control" placeholder="Nombre" autofocus/>
        </div>
        <div class="form-group">
          <input type="number" name="monto" class="form-control" placeholder="Monto" autofocus/>
        </div>
        <div class="form-group">
          <input type="number" name="periodoSemanas" class="form-control" placeholder="Duración en semanas" autofocus/>
        </div>
        <div class="form-group">
          <input type="number" name="numeros" class="form-control" placeholder="Numeros" autofocus/>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block">
            Guardar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
