<div class="card">
  <div class="card-body">
    <h1>About Us</h1>
    <p>Hoy 6 de marzo, el nobel de literatura colombiano, Gabriel García Márquez, estaría cumpliendo 90 años. Para
       celebrarlo, recopilamos las mejores frases de una de sus grandes obras: El amor en los tiempos del cólera</p>
  </div>
</div>
