<!--<h1>Index</h1> //sin bootstrap-->
<div class="jumbotron mt-4">
  <h1 class="display-2">Tandas App NodeJS and MongoDB</h1>
  <p class="lead">El amor en los tiempos del colera</p>
  <hr class="my-4">
  <p>Hoy 6 de marzo, el nobel de literatura colombiano, Gabriel García Márquez, estaría cumpliendo 90 años. Para celebrarlo,
    recopilamos las mejores frases de una de sus grandes obras: El amor en los tiempos del cólera</p>
    <a href="http://www.google.com" class="btn btn-primary btn-lg">Ir a la pagina</a>
</div>
