<div class="row">
  <div class="col-md-4 mx-auto">
    <div class="card">
      <div class="card-header">
        Registro de cuenta
      </div>
      <div class="card-body">
        <form action="/users/signup" method="POST">
          <div class="form-group">
            <input type="text" classs="form-control" name="nombre" placeholder="Name" value="{{nombre}}">
          </div>
          <div class="form-group">
            <input type="email" class="form-control" name="email" placeholder="email" value="{{email}}">
          </div>
          <div class="form-group">
            <input type="password" class="form-group" name="password" placeholder="Password" value="{{password}}">
          </div>
          <div class="form-group">
            <input type="password" class="form-group" name="confirm_password" placeholder="Password" value="{{confirm_password}}">
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block" >Sign up</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
